In [ ]:
#Data Types are of two Types: Mutable and Immutable:
#NST(Numbers,Lists,Strings are immutable)
#DLS(Dictionaries,Lists,Sets are mutable)

In [ ]:
#STRINGS

In [ ]:
#Find the length of the string GENIUS

In [3]:
var1 = ("GENIUS")
len(var1)

6

In [ ]:
#Find the first ,second and last character of "GENIUS" INDEXING

In [11]:
var1[0]
var1[2]
var1[-1]
var1[0:4]
var1[2:6]
var1[:4]
var1[2:]

'NIUS'

In [ ]:
#Replace the character

In [12]:
var1.replace("G","L")

'LENIUS'

In [ ]:
#TUPLE are immuatable which means not subjected to change

In [24]:
week = ("Monday","Tuesday", "Wednesday", "Thursday","Friday", "Saturday", "Sunday")
week[6]="Funday"

TypeError: 'tuple' object does not support item assignment

In [23]:
week2 = "Monday","Tuesday", "Wednesday", "Thursday","Friday", "Saturday", "Sunday"
week2[6]="Funday"
#so here when I am assigning a value to index 6 it doesnt change

TypeError: 'tuple' object does not support item assignment

In [25]:
week2 = "Monday","Tuesday", "Wednesday", "Thursday","Friday", "Saturday", "Sunday"
type(week2)

tuple

In [ ]:
#LISTS(Mutable)lsists starts from 0

In [26]:
salary= [100,200,300]
salary

[100, 200, 300]

In [27]:
salary[2]

300

In [29]:
salary[2]=500
salary
here you can see how we change the value and assigned a new value to variable at the index 2(mutable)

[100, 200, 500]

In [33]:
mixed = ["apple", "mango" ,199, 133.33]
mixed
type(mixed)

list

In [32]:
jumble = ["apple", "mango" ,199, 133.33, (99,88,"maths", "physics"),["oxygen","helium","nitro", 99.8765, 887]]
jumble

['apple',
 'mango',
 199,
 133.33,
 (99, 88, 'maths', 'physics'),
 ['oxygen', 'helium', 'nitro', 99.8765, 887]]

In [35]:
type(jumble)

list

In [39]:
jumble[4]
type(jumble[4])

tuple

In [40]:
type(jumble[5])

list

In [ ]:
#Dictionaries

In [42]:
year = {"jan" :1,"feb": 2, "march":3}
year

{'jan': 1, 'feb': 2, 'march': 3}

In [43]:
type(year)

dict

In [51]:
year["jan"]

1

In [52]:
year["feb"]

2

In [53]:
year.get("jan")

1

In [ ]:
#SETS

In [54]:
h= {1,2,3}
3 in h

True

In [55]:
type(h)

set

In [ ]:
#Write a program where Ram and Rohan are having 7000 and 8000 as a part of their salary. 
#Which datatype will be the best and why?->should be dictionary as it will contain the name as key and value as salary
#Add Rita to the group having 10000 salary
#Remove Rita from the group
#Make a loop to show only the key value names

In [56]:
salaries = {"Ram": 7000 , "Rohan": 8000}
salaries

{'Ram': 7000, 'Rohan': 8000}

In [65]:
salaries.append("Rita" , 10000)
salaries

#this will not work see the error and try to understand

AttributeError: 'dict' object has no attribute 'append'

In [67]:
salaries["Rita"]=10000
salaries
del salaries["Rita"]
print(salaries)

{'Ram': 7000, 'Rohan': 8000}

In [73]:
salaries = {"Ram": 7000 , "Rohan": 8000}
salaries
salaries["Rita"]=10000
salaries
del salaries["Rita"]
print(salaries)

for item in salaries.keys():
    print(item)

{'Ram': 7000, 'Rohan': 8000}
Ram
Rohan

In [75]:
salaries = {"Ram": 7000 , "Rohan": 8000}
salaries
salaries["Rita"]=10000
salaries
del salaries["Rita"]
print(salaries)

for item in salaries.values():
    print(item)

{'Ram': 7000, 'Rohan': 8000}
7000
8000

In [88]:
salaries = {"Ram": 7000 , "Rohan": 8000}
salaries

for key, val in salaries.items():
        print(key, val)
        
#items is an attribute of dictionary

Ram 7000
Rohan 8000